.Form {
  display: flex;
  flex-direction: column;
}

.FormInputArea-wrapper {
  margin-bottom: 18px;
}
.FormHeader-title {
  font-family: 'YS Text';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.FormHeader-description {
  font-family: 'YS Text';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.059999991208314896px;
  text-align: left;
  color: #7f8285;
}

.FormButtonsArea {
  display: flex;
  flex-direction: row;
  
}
