.Popup {
  width: 375px;
  box-sizing: border-box;
  box-shadow: 0 2px 7px 0 rgba(#000000, 0.31);
  position: relative;
  padding: 20px;
  background-color: #fff;
}

.PopUp-RunBuildButton {
  margin-right: 8px;
}

.PopUp-RunBuildButton {
  margin-right: 0px;
  margin-bottom: 12px;
}

@media (max-width: 576px) {
  .PopUp-RunBuildButton {
    margin-right: 0px;
    margin-bottom: 12px;
  }
}
