.Popup {
  width: 375px;
  box-sizing: border-box;
  box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3),
    0px 6px 16px rgba(67, 68, 69, 0.3);
  border-radius: 4px;
  position: relative;
  padding: 20px;
  background-color: #fff;
}

.PopUp-RunBuildButton {
  margin-right: 8px;
}

.PopUp-RunBuildButton {
  margin-right: 0px;
  margin-bottom: 12px;
}

@media (max-width: 576px) {
  .PopUp-RunBuildButton {
    margin-right: 0px;
    margin-bottom: 12px;
  }
}
