:root {
  --Card-box-shadow-color: #4344454d;
  --CardIcon-n-size: 22px;
  --CardIcon-s-size: 15px;
  --CardIcon-n-padding: 12px 24px;
  --CardIcon-n-marginRight: ;
}

/* TODO: Закончить стилизацию элемента */
.Card {
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--CardIcon-n-padding);
  box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3),
    0px 1px 1px rgba(67, 68, 69, 0.3);
  border-radius: 6px;
}

.CardIcon {
  box-sizing: border-box;
  width: var(--CardIcon-n-size);
  height: var(--CardIcon-n-size);
  margin-right: 10px;
}

.Card-Section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Card-Section-small {
  display: flex;
}

.Card-Section-small--title {
  margin-bottom: 8px;
}

.Card-Section-Icon-Index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card-Index {
  margin-left: 8px;
  margin-right: 4px;
}

.Card_Index_complete {
  color: #00b341;
}
.Card_Index_pending {
  color: #ff9a00;
}
.Card_Index_error {
  color: #ff3333;
}

.Card-Commit {
  margin-left: 30px;
  margin-right: 10px;
}

.Card-Date {
  margin-bottom: 12px;
}

@media (max-width: 576px) {
  .Card {
    flex-direction: column;
  }
  .Card-Section-small--title {
    flex-direction: column;
    align-items: flex-start;
  }
  .CardIcon {
    width: 15px;
    height: 15px;
  }
  .Card-Message {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 24px;
    margin-top: 8px;
  }

  .Card-Section-small {
    flex-direction: column;
  }
  .Card-Commit {
    margin-left: 24px;
  }
  .Card-Author {
    margin-top: 8px;
    margin-left: 24px;
  }
  .Card-Date {
    margin-bottom: 8px;
    margin-left: 24px;
    margin-top: 8px;
  }
  .Card-Time {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .Card-Section-Main--datetime {
    display: flex;
    flex-direction: row;

    border-top: 1px solid #f0f2f3;
    margin-top: 8px;
  }
}
