.MainPage-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainPage--nosettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MainPage--history {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.MainPageCard {
  margin-bottom: 8px;
}

.Button.first-btn {
  margin-right: 8px;
}

.mainDescription {
  margin-top: 32px;
  margin-bottom: 24px;
  max-width: 250px;
  text-align: center;
}

.MainIcon {
  width: 124px;
  height: 124px;
}

.MainPage-ShowMoreButton {
  align-self: flex-start;
}
