:root {
  --color: #000000;
  --font-size: 13px;
  --line-height: 16px;
  --opacity: 0.65;
}

.CardPropertyData {
  color: var(--color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-start;
  align-items: center;
}

.CardPropertyData-Icon,
.CardPropertyData-SecondaryText {
  opacity: var(--opacity);
}

.CardPropertyData-Icon {
  margin-right: 5px;
}

.CardPropertyData-PrimaryText {
  white-space: nowrap;
  margin-right: 4px;
}

@media (max-width: 576px) {
  .CardPropertyData-PrimaryText {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.059999991208314896px;
    text-align: left;
  }

  .CardPropertyData-SecondaryText {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.06px;
    text-align: left;
  }
}
