:root {
  --title-color: #7f8285;
}
.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Header-title {
  font-family: 'YS Text';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  color: var(--title-color);
  margin: 0;
}

.Header-buttons {
  display: flex;
}

@media (max-width: 576px) {
  .Header-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

.isSettings .Header-title {
  color: black;
}
