:root {
  --Link-color: #7f8285;
  --Link-color-hover: #e00000;
}

.Link {
  color: var(--Link-color);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.06px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

/* FIXME: Убрать !important */
a.Link:hover {
  color: var(--Link-color-hover) !important;
  cursor: pointer;
}

a.Link:focus {
  outline: none;
  color: var(--Link-color-hover) !important;
}
a.Link:visited {
  color: var(--color);
}
